<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Proyecto final 6</title>
    <!--<link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>

    <div class="container contenedor__margen--arriba">

      <div class="row margen--secciones">
        <div class="col s4 offset-s4 col xl4 offset-xl4">
          <div class="">
            <img src="../img/icons/bcp-logo.png" alt="">
          </div>
        </div>
      </div>

      <div class="row margen--secciones">
        <h2 class="texto--center letra--negra texto--center">Registra tu tarjeta debito BCP</h2>
        <p class="texto--grande texto--center">Por ahora solo aceptamos cuentas de ahorro <br>
        y/o corriente en soles.</p>
      </div>


    </div>










    <!--<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/materialize-css/dist/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>
</html>
