<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto final 6</title>
    <!--<link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>

    <div class="container contenedor__margen--arriba">

      <div class="row margen--secciones">
        <div class="col s4 offset-s4 col xl4 offset-xl4">
          <div class="">
            <img src="../img/icons/phone.png" class="responsive-img" alt="">
          </div>
        </div>
      </div>

      <div class="row margen--secciones">
        <h2 class="texto--center letra--negra">Para comenzar validemos tu <br> numero</h2>
        <p class="texto--center">recibirás un SMS con un codigo de validacion</p>
      </div>

      <form action="#" id="formulario">
        <div class="row">
          <div class="input-field col s12">
            <input id="telefono" type="number" name="telefono" value="">
            <label for="telefono"><img src="../img/icons/phoneandnumber.png" class="imagen--icono responsive-img" alt=""></label>
          </div>
        </div>
        <div class="row">
          <p>
            <input type="checkbox" class="filled-in" id="termino-condiccion"  />
            <label for="termino-condiccion" >Acepto los <big class="letra__color-azul">Terminos y Condicciones</big></label>
          </p>
        </div>
        <div class="row margen--secciones">
          <div class="col s4 offset-s4 col xl4 offset-xl5">
            <button  class="disabled btn waves-effect boton__color--amarillo  white-text" id="boton" type="submit" name="action">Continuar</button>
          </div>
        </div>
      </form>



    <!--<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/materialize-css/dist/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
    
  </body>
</html>
