<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto final 6</title>
    <!--<link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>

    <div class="container ">

      <div class="row margen--secciones">
        <div class="col s4 offset-s4 col xl4 offset-xl4">
          <div class="">
            <img src="../img/icons/lockone.png" class="responsive-img" alt="">
          </div>
        </div>
      </div>

      <div class="row margen--secciones">
        <h2 class=" letra--negra texto--center">Crea tu Usuario Yape</h2>
        <p class="texto--center" >Ingresa un nombre, email y clave de usuario.</p>
      </div>

      <form action="#" id="formularioDatos">
        <div class="row">
          <div class="input-field col s12">
            <input id="nombre" placeholder="nombre" type="text" name="" value="">
            <label for="telefono" ><img src="../img/icons/user.png" class="responsive-img imagen--icono-chico"alt=""></label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="correoElectronico" placeholder="correo@ejemplo.com" type="email" name="telefono" value="">
            <label for="telefono" ><img src="../img/icons/message-gray.png" class="responsive-img imagen--icono-chico"alt=""></label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="clave" placeholder="ingresa clave de 6 digitos" type="number" name="telefono" value="">
            <label for="telefono" ><img src="../img/icons/lock.png" class="responsive-img imagen--icono-chico" alt=""></label>
          </div>
          <p class="texto--center texto--gris">Cuida esta clave como oro, es tu ingreso a <br>Yape</p>
        </div>

        <div class="row margen--secciones">
          <div class="col s4 offset-s4 col xl4 offset-xl5">
            <button  class=" btn waves-effect boton__color--amarillo  white-text" id="botonDatos" type="submit" name="action">Continuar</button>
          </div>
        </div>
      </form>

    </div>

    <!--<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/materialize-css/dist/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../datos.js"></script>
  </body>
</html>
