<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Proyecto final 6</title>
    <!--<link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>

    <div class="container contenedor__margen--arriba">

      <div class="row margen--secciones">
        <div class="col s4 offset-s4 col xl4 offset-xl4">
          <div class="">
            <img src="../img/icons/message.png" alt="">
          </div>
        </div>
      </div>

      <div class="row margen--secciones">
        <h2 class="texto--center letra--negra">Ahora Ingresa tu codigo </h2>
        <p class="texto--grande texto--center">Enviamos un SMS con el codigo de validacion <br> al numero
        <span class="letra--negra texto--center">9917289636</span></p>
      </div>

      <form action="#" id="formulario">
        <div class="row">
          <div class="input-field col s12">
            <input type="number" name="telefono" value="">
            <label  id="telefono"><img src="../img/icons/phoneandnumber.png" alt=""></label>
          </div>
        </div>
        <div class="row">
          <p>
            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box" class="texto--grande">Acepto los <big class="letra__color-azul">Terminos y Condicciones</big></label>
          </p>
        </div>
        <div class="row margen--secciones">
          <div class="col s4 offset-s4 col xl4 offset-xl5">
            <button class="btn waves-effect boton__color--amarillo texto--grande white-text" id="boton" type="submit" name="action">Continuar</button>
          </div>
        </div>
      </form>
      
    </div>









    <!--<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/materialize-css/dist/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>
</html>
