<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Proyecto final 6</title>
    <!--<link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>

    <div class="container-fluid color__moradoClaro">
      <div class="row paddin--secciones">
        <div class="col s1 offset-s11 col xl1 offset-xl11">
          <img src="../img/icons/engine.png" alt="">
        </div>
      </div>

      <div class="row ">
        <div class="col s4 offset-s4 col xl4 offset-xl4">
          <img src="../img/icons/happy-face.png" alt="">
        </div>
      </div>

      <div class="row margen--abajo">
        <h2 class="texto--center letra--negra texto--center">Hola</h2>
        <p class="texto--grande texto--center">Mostrar Saldo</p>
      </div>

    </div>

    <div class="container-fluid color__moradoFuerte ">
      <div class="row padding--moradoFuerte">
        <div class="col s8  col xl5">
          <h2>ULTIMOS MOMENTOS</h2>
        </div>
        <div class="col s1 offset-s3 col xl1 offset-xl3">
          <img src="../img/icons/engine.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col s5 col xl5">
          <img src="../img/icons/icon.png" alt="">
        </div>
        <div class="col s5 col xl5 ">
          <h2>¿Aun no realizas tu primer pago?</h2>
          <h3>Es rapido y sencillo</h3>
        </div>
      </div>

      <div class="row">
        <div class="col s4 col xl4">
          <img src="../img/icons/send.png" alt="">

        </div>
        <div class="col s4 offset-s4 col xl4 offset-xl4">
          <img src="../img/icons/code-qr.png" alt="">

        </div>

      </div>


    </div>





    <!--<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/materialize-css/dist/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>
</html>
