$Rojo-bullet : #f64552;
$Gris-bullet : #f8f8f8;
$Amarilloboton: #fbd43b;
$color-Grisdark : #212121;
$color-GrisLetra: #8f8f8f;
$turquesa-terminos: #00c3a3;
$Morado-entradaNumero: #49233b;
$Morado-light : #451e36;
$Morado-dark : #38052a;
