@media (min-width: 1024px){
  p{
    font-size: 3em;
  }
}
@media screen and (max-width: 700px){
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 1em;
  }
  p{
    font-size:1em;
  }
  #imagen__ojo{
    width: 20px;
  }
  
  .imagen--icono{
    width: 40px;
  }
  .imagen--icono-chico{
    width: 20px;
  }
  .imagen--carrusel{
    width: 120px !important;
    height: 180px !important;
    padding-top: 40px;
  }
  h4{
    font-size: 1em;
  }
  h5{
    font-size: .8em;
  }



}
