@import 'variables';//importa del documento
@import 'mixin';

.contenedor__margen--arriba{
  margin-top: 30%;
}
.color__moradoClaro{
  background-color: $Morado-light;
}
.color__moradoFuerte{
  background-color: $Morado-dark;
}
.letra--negra{
  font-weight: bold;
}
.imagen{
  height: 800px;
}
.altura{
  height: 150%;
}
.letra__color-azul{
  color: $turquesa-terminos;
  display: inline-block;
}
.texto--grande{
  font-size: 40px;
  color: $color-GrisLetra;
}
.boton__color--amarillo{
  background-color: $Amarilloboton;
  padding: 10px 20px 10px 20px;
  height: 100px;
}
.texto--center{
  text-align: center;
}
.margen--secciones{
  margin: 10% 0 10% 0;
}
.padding--secciones{
  padding: 10% 0 10% 0;
}
.padding--moradoFuerte{
  padding: 20px;

}
.margen--abajo{
  margin-bottom: 0 ;
}
div.carousel.carousel-slider{
    height: 25vh !important;
    margin-top: 10vh;
}

.carousel .indicators .indicator-item {
  @include bloque-indicadores($Gris-bullet, 20px, 20px);
  margin-right: 25px;
}
.carousel .indicators .indicator-item.active {
  @include bloque-indicadores( $Rojo-bullet, 20px, 20px);
  border-radius: 50%;
}
.carousel{
  .carousel-item{
    img {
      width: 40%;
    }
  }
}
